name: Deploy to GitHub Pages

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: macos-latest

    steps:
      # Checkout the repository
      - name: Checkout the repository
        uses: actions/checkout@v4

      # Clear npm cache (opzionale)
      - name: Clear npm cache
        run: npm cache clean --force

      # Rimuovere node_modules e package-lock.json (opzionale)
      - name: Remove node_modules and package-lock.json
        run: rm -rf node_modules package-lock.json

      # Install dependencies
      - name: Install dependencies
        run: npm install

      # Build the project
      - name: Build the project
        run: CI=false npm run build

      # Deploy to GitHub Pages
      - name: Deploy to GitHub Pages
        env:
          TOKEN: ${{ secrets.GH_TOKEN_DEC2026 }}
        run: |
          rm -rf build/.git  # <-- importantissimo
          npx gh-pages -d build -u "github-actions-bot <actions@github.com>" \
            -r "https://x-access-token:${TOKEN}@github.com/${{ github.repository }}.git"

